@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-work-sans;
}

.main {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-image: linear-gradient(180deg, hsl(240, 76%, 89%) 0%, hsl(9, 83%, 89%) 100%);
}

.main:after {
  content: "";
  background-image: url("/src/assets/gridSvg.svg");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  filter: invert(1);
  opacity: 0.2;
  z-index: -1;
}

.gradient_text {
  background-image: linear-gradient(to bottom right,
      #aa7065 30%,
      #996459 50%,
      #aa7065 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}